h1{
    color:blue;
    font-size:60px;
    font-family: Comic Sans MS, Comic Sans, cursive; 
    text-align: center;
    border: 3px solid lightblue;
    height: 100px;
    width: 100%;
    background-color: lightblue;
}
body{
    background-image: url(road.jpg)
}
div{
    text-align: center;
    color:darkblue;
    font-size:40px;
    font-family: Comic Sans MS, Comic Sans, cursive; 
}
#button{
    background-color:lightskyblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 25px;
  background: lightskyblue;
  padding: 15px;
  width: 80px;
  height: 35px;
  
}
.email{
        position: relative;
        left: 300px;
        bottom: -900px;
        color:blue;
        font-size:30px;
        font-family: Comic Sans MS, Comic Sans, cursive
}
.name{
    position: relative;
    left: 250px;
    bottom: -900px;
    color:blue;
    font-size:30px;
    font-family: Comic Sans MS, Comic Sans, cursive
}
p{
    text-align: center;
    color:darkblue;
    font-size:20px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
.welcome{
    width: 300px;
    border: 15px solid blue;
    padding: 100px;
    margin: 20px;
}
#find{ 
    width: 300px;
    border: 15px solid blue;
    padding: 100px;
    margin: 20px;
}
iframe{
    width: 300px;
    border: 15px solid blue;
    padding: 100px;
    margin: 20px;
}
div p b{
    color:purple;
}
div p i{
    color:lightblue
}
img {
    width: 940px;
    height: 540px;
    position: relative;
    animation-name: img;
    animation-duration: 15s;
    animation-iteration-count: 5;
  }
  
  @keyframes img {
    0%   { left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% { left:0px; top:0px;}
  }
  div h4 b{
      color:blue;
      position: relative;
      left: 250px;
      bottom: -600px;
  }